
    <p id="audio-control" class="white-circle">
      <canvas class="visualizer"></canvas>
    </p>
<%= content_for :end_js do %>
  <script type="text/javascript">
    var waveform = window.Waveform();
    var config, conversation;
    document.getElementById('audio-control').onclick = function () {
      config = {
        lexConfig: { botName: "alladdin" }
      };
      conversation = new LexAudio.conversation(config, function (state) {
        if (state === 'Listening') {
          waveform.prepCanvas();
        }
        if (state === 'Sending') {
          waveform.clearCanvas();
        }
      }, function (data) {
        console.log('Transcript: ', data.inputTranscript, ", Response: ", data.message);
      }, function (error) {
      }, function (timeDomain, bufferLength) {
        waveform.visualizeAudioBuffer(timeDomain, bufferLength);
      });
      conversation.advanceConversation();
    };



    var SearchSession = function(text){
      this.started = true;
      this.texts = [];
      this.finished = false;
      this.add_text(text);
    }

    SearchSession.prototype.is_finished = function(){
      return this.finished;
    }

    SearchSession.prototype.finish_session = function(){
      this.finished = true;
    }

    SearchSession.prototype.add_text = function(text){
      this.texts.push(text);
    }

    SearchSession.prototype.get_combined_text = function(){
      var whole_text = "";
      var search_session = this;
      $.each(search_session.texts, function(){
        var text = this;
        whole_text += " " + text;
      });
      return whole_text;
    }

    var get_results_inx = 1;
    SearchSession.prototype.get_results = function(){
      var results = false;
      if(get_results_inx == 3){
        results = true;
      }
      get_results_inx = get_results_inx + 1;
      var search_session = this;
      $.ajax({
        url: 'http://localhost:3000/test/api',
        data: {'text' : search_session.get_combined_text(), 'results' : results},
        type: 'get',
        success: function(ret_data){
          if(ret_data.status == "missing_fields"){
            search_session.play_sound(ret_data.sound_file_to_play, function(){
              $("#audio-marker").hide();
            });
          }else{
            search_session.play_sound(ret_data.sound_file_to_play, function(){
              $("#audio-marker").hide();
              search_session.display_results(ret_data.results);
              search_session.finish_session();
            });
          }
        }
      });
    }

    SearchSession.prototype.display_results = function(results){
      console.log(results);
    }
  </script>
<% end %>